<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image upload</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity=""
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h1 class="card-title">Upload a new recipe image</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
                                   th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}">
                                <label class="control-label">Select File</label>
                                <input id="imagefile" name="imagefile" type="file" class="file">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>